* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.book-container {
  width: 80vw;
  margin: 2rem auto;
  /* background-color: #ccc; */
  display: flex;
  flex-wrap: wrap;
}

.book {
  margin: 1rem auto;
  padding: 1rem;
  background-color: #f0ebeb;
}

.book img {
  height: 400px;
  width: 300px;
}

.price-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25rem;
}

button {
  border-radius: 5px;
  padding: 0.25rem;
}

button:hover {
  cursor: pointer;
  background-color: #ccc;
}
